<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BRF</title>
</head>
<body>
    <header>
        <h1>You're logged in!</h1>
        <a href='{% url 'logout' %}'>LogOut</a>
        <a href='{% url 'profile' %}'>Profile</a>
        <a href='{% url 'dash' %}'>Dashboard</a>
        
        <hr>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>